        <!-- service area start -->
        <div class="service-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-service">
                            <div class="sirvice-img">
                              <%= image_tag 'service/icon-1.png' %>
                            </div>
                            <div class="service-info">
                                <h3>FREE SHIPPING</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service">
                            <div class="sirvice-img">
                              <%= image_tag 'service/icon-1.png' %>
                            </div>
                            <div class="service-info">
                                <h3>FREE SHIPPING</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-service">
                            <div class="sirvice-img">
                              <%= image_tag 'service/icon-1.png' %>
                            </div>
                            <div class="service-info">
                                <h3>FREE SHIPPING</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service area end -->