 <!-- complete order area start -->
<div class="checkout-area">
    <div class="container">
        <div class="row">
            <%= render partial: 'spree/products/shared/sidebar' %>
            <div class="col-sm-9">
                <div class="checkout-banner hidden-xs">
                    <a href="#">
                        <%= image_tag 'checkout/checkout_banner.jpg' %>
                    </a>
                </div>
                <div class="checkout-heading">
                    <h2>Order R391253922</h2>
                </div>
                <div class="message-box">
                  <div class="message-title">
                      <h2><strong>Thank you</strong> <p> for your business. Please print out a copy of this confirmation page for your records.</p></h2>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="checkout-collapse">
                            <h3 class="checkout-title">Billing Address</h3>
                            <p>Tang Quoc Minh</p>
                            <p>02 co giang</p>
                            <p>Da Nang DN 550000</p>
                            <p>Vietnam</p>
                            <p>Phone 0961834678</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkout-collapse">
                            <h3 class="checkout-title">Shipping Address</h3>
                            <p>Tang Quoc Minh</p>
                            <p>02 co giang</p>
                            <p>Da Nang DN 550000</p>
                            <p>Vietnam</p>
                            <p>Phone 0961834678</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="checkout-collapse">
                            <h3 class="checkout-title">Shipments</h3>
                            <p>From default via Shipping Asian</p>
                            <h3 class="checkout-title">Payment Information</h3>
                            <p>Check ($27.69) </p>
                        </div>
                    </div>
                </div>
                <div class="confirm-order">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#">More-Or-Less</a>
                                    </td>
                                    <td>2</td>
                                    <td>$100.00</td>
                                    <td>$200.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Aliquam Consequat</a>
                                    </td>
                                    <td>1</td>
                                    <td>$90.00</td>
                                    <td>$90.00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-right" colspan="3">
                                        <strong>Sub-Total:</strong>
                                    </td>
                                    <td>$290.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="3">
                                        <strong>Flat Shipping Rate:</strong>
                                    </td>
                                    <td>$5.00</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="3">
                                        <strong>Flat Shipping Rate:</strong>
                                    </td>
                                    <td>$5.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <button type="submit" value="Continue" class="check-button">Continue Shopping</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- complete order area end -->