<div class="select-catagory">
  <div class="color-select">
      <label class="required">
          <em>*</em> Color
      </label>
      <div class="input-box">
          <select id="select-1">
              <option value="">-- Please Select --</option>
              <option value="">black +$2.00</option>
              <option value="">blue +$1.00</option>
              <option value="">yellow +$1.00</option>
          </select>
      </div>
  </div>
  <div class="size-select">
      <label class="required">
          <em>*</em> Size
      </label>
      <div class="input-box">
          <select id="select-2">
              <option value="">-- Please Select --</option>
              <option value="">L +$2.00</option>
              <option value="">M +$1.00</option>
          </select>
      </div>
  </div>
</div>
<div class="cart-item">
  <div class="price-box">
      <span>$170</span>
  </div>
  <div class="single-cart">
      <div class="cart-plus-minus">
          <label>Qty: </label>
          <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
      </div>
      <button class="cart-btn">Add to cart</button>
  </div>
</div>